.main-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

button, .fight-mode-option {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

.card-title, .card-value {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.score, .card-key {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

.card-container {
  max-width: 22rem;
  min-width: 20rem;
}

.victory-message {
  font-size: 50px;
  font-family: 'Bangers', cursive;
  color: red;
}
