<div class="main-container">
  <div style="display: flex; justify-content: center">
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="margin-right: 10px;"
      >
        {{ fightModeSelected ? fightModeSelected : "Fight Mode" }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          class="dropdown-item"
          *ngFor="let mode of fightModes"
          (click)="onSelectFightMode(mode)"
          href="#"
          ><span class="fight-mode-option">{{ mode }}</span></a
        >
      </div>
      <button type="button" class="btn btn-warning" (click)="onNewGame()">
        NEW GAME
      </button>
    </div>
  </div>
</div>
<button
  style="margin: auto; margin: 20px 0 20px 0;"
  type="button"
  class="btn btn-danger"
  (click)="onGetData()"
  [disabled]="!fightModeSelected || loadingPeople || loadingStarship"
>
  FIGHT!
</button>

<div style="display: flex; justify-content: space-around;">
  <div class="score">
    P1 SCORE:
    <span style="color: orangered"
      ><span style="font-size: 35px; font-weight: bold">{{
        p1Score
      }}</span></span
    >
  </div>
  <div class="score">
    P2 SCORE:
    <span style="color: orangered"
      ><span style="font-size: 35px; font-weight: bold">{{
        p2Score
      }}</span></span
    >
  </div>
</div>

<div class="cards-container">
  <div id="p1Container">
    <div class="container-md" style="display: flex; flex-direction: column">
      <span class="card-title">
        YOUR PERSON
      </span>
    </div>
    <div class="card card-container">
      <div class="card-body" *ngIf="person">
        <p class="card-key">
          Name: <span class="card-value"> {{ person.name }} </span>
        </p>
        <p
          class="card-key"
          [ngStyle]="{
            'background-color': heightVsLength ? 'yellow' : 'transparent'
          }"
        >
          Heigth: <span class="card-value"> {{ person.height }} </span>
        </p>
        <p
          class="card-key"
          [ngStyle]="{
            'background-color': massVsCrew ? 'yellow' : 'transparent'
          }"
        >
          Mass: <span class="card-value"> {{ person.mass }} </span>
        </p>
        <p class="card-key">
          Hair Color: <span class="card-value"> {{ person.hair_color }} </span>
        </p>
        <p class="card-key">
          Skin Color: <span class="card-value"> {{ person.skin_color }} </span>
        </p>
        <p class="card-key">
          Eye Color: <span class="card-value"> {{ person.eye_color }} </span>
        </p>
      </div>
    </div>
  </div>

  <div
    [ngStyle]="{
      display:
        (p1Wins || p2Wins) && !loadingPeople && !loadingStarship
          ? 'block'
          : 'none'
    }"
    class="victory-message"
    *ngIf="(p1Wins || p2Wins) && !loadingPeople && !loadingStarship"
  >
    Player {{ this.p1Wins ? "1" : "2" }} wins!!
  </div>

  <div
    *ngIf="loadingPeople || loadingStarship"
    style="width: 10rem"
    class="spinner-grow text-primary"
  >
    <span class="sr-only">Loading...</span>
  </div>

  <div id="p2Container">
    <div class="container-md" style="display: flex; flex-direction: column">
      <span class="card-title">
        YOUR STARSHIP
      </span>
    </div>
    <div class="card card-container">
      <div class="card-body" *ngIf="starship">
        <p class="card-key">
          Name: <span class="card-value">{{ starship.name }}</span>
        </p>
        <p class="card-key">
          Model: <span class="card-value">{{ starship.model }}</span>
        </p>
        <p class="card-key">
          Manufacturer:
          <span class="card-value">{{ starship.manufacturer }}</span>
        </p>
        <p
          class="card-key"
          [ngStyle]="{
            'background-color': massVsCrew ? 'yellow' : 'transparent'
          }"
        >
          Crew: <span class="card-value">{{ starship.crew }}</span>
        </p>
        <p
          class="card-key"
          [ngStyle]="{
            'background-color': heightVsLength ? 'yellow' : 'transparent'
          }"
        >
          Length: <span class="card-value">{{ starship.length }}</span>
        </p>
        <p class="card-key">
          Max atmosphering speed:
          <span class="card-value">{{ starship.max_atmosphering_speed }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
