<div style="margin: auto;">
  <div style="display: flex; justify-content: center">
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="margin-right: 10px;"
      >
        {{ fightModeSelected ? fightModeSelected : "Fight Mode" }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          class="dropdown-item"
          *ngFor="let mode of fightModes"
          (click)="onSelectFightMode(mode)"
          href="#"
          >{{ mode }}</a
        >
      </div>
      <button type="button" class="btn btn-warning" (click)="onNewGame()">
        NEW GAME
      </button>
    </div>
  </div>
</div>
<button
  style="margin: auto; margin: 20px 0 20px 0;"
  type="button"
  class="btn btn-primary"
  (click)="onGetData()"
  [disabled]="!fightModeSelected || loadingPeople || loadingStarship"
>
  FIGHT
</button>
<div style="display: flex; justify-content: space-around;">
  <div>P1 SCORE: {{ p1Score }}</div>
  <div>P2 SCORE: {{ p2Score }}</div>
</div>

<div class="cards-container">
  <div id="p1Container">
    <div class="container-md" style="display: flex; flex-direction: column">
      <span>
        YOUR PERSON
      </span>
    </div>
    <div class="card">
      <div class="card-body" *ngIf="person">
        <p>Name: {{ person.name }}</p>
        <p
          [ngStyle]="{
            'font-weight':
              fightModeSelected === 'Height VS length' ? 'bold' : 'null'
          }"
        >
          Heigth: {{ person.height }}
        </p>
        <p
          [ngStyle]="{
            'font-weight':
              fightModeSelected === 'Mass VS Crew' ? 'bold' : 'null'
          }"
        >
          Mass: {{ person.mass }}
        </p>
        <p>Hair Color: {{ person.hair_color }}</p>
        <p>Skin Color: {{ person.skin_color }}</p>
        <p>Eye Color: {{ person.eye_color }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="(p1Wins || p2Wins) && !loadingPeople && !loadingStarship">
    Player {{ this.p1Wins ? "1" : "2" }} wins!!
  </div>

  <div
    *ngIf="loadingPeople || loadingStarship"
    style="width: 10rem"
    class="spinner-grow text-primary"
  >
    <span class="sr-only">Loading...</span>
  </div>

  <div id="p2Container">
    <div class="container-md" style="display: flex; flex-direction: column">
      YOUR STARSHIP
    </div>
    <div class="card">
      <div class="card-body" *ngIf="starship">
        <p>Name: {{ starship.name }}</p>
        <p>Model: {{ starship.model }}</p>
        <p>Manufacturer: {{ starship.manufacturer }}</p>
        <p
          [ngStyle]="{
            'font-weight':
              fightModeSelected === 'Mass VS Crew' ? 'bold' : 'null'
          }"
        >
          Crew: {{ starship.crew }}
        </p>
        <p
          [ngStyle]="{
            'font-weight':
              fightModeSelected === 'Height VS length' ? 'bold' : 'null'
          }"
        >
          Length: {{ starship.length }}
        </p>
        <p>Max atmosphering speed: {{ starship.max_atmosphering_speed }}</p>
      </div>
    </div>
  </div>
</div>
