<div style="margin: auto;">
  <div style="display: flex; justify-content: center">
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="margin-right: 10px;"
      >
        {{ fightMode ? fightMode : "Fight Mode" }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          class="dropdown-item"
          *ngFor="let mode of fightModes"
          (click)="onSelectFightMode(mode)"
          href="#"
          >{{ mode }}</a
        >
      </div>
      <button type="button" class="btn btn-warning" (click)="onNewGame()">
        NEW GAME
      </button>
    </div>
  </div>
</div>
<button
  style="margin: auto; margin: 20px 0 20px 0;"
  type="button"
  class="btn btn-primary"
  [disabled]="!fightMode && loadingPeople"
  (click)="onGetLucky()"
>
  GET LUCKY
</button>
<!--    <button type="button" class="btn btn-primary" (click)="onGetLucky()">-->
<!--      GET LUCKY-->
<!--    </button>-->
<div class="cards-container">
  <div id="p1Container">
    <div class="container-md" style="display: flex; flex-direction: column">
      PEOPLE
    </div>
    <div class="card">
      <div class="card-body" *ngIf="peopleResults">
          <p>Name: {{ peopleResults[randomItem]?.name }}</p>
          <p>Heigth: {{ peopleResults[randomItem]?.height }}</p>
          <p>Mass: {{ peopleResults[randomItem]?.mass }}</p>
          <p>Hair Color: {{ peopleResults[randomItem]?.hair_color }}</p>
          <p>Skin Color: {{ peopleResults[randomItem]?.skin_color }}</p>
          <p>Eye Color: {{ peopleResults[randomItem]?.eye_color }}</p>
      </div>
    </div>
  </div>

  <div
    *ngIf="loadingPeople && loadingStarship"
    style="width: 10rem"
    class="spinner-grow text-primary"
  >
    <span class="sr-only">Loading...</span>
  </div>

  <div id="p2Container">
    <div class="container-md" style="display: flex; flex-direction: column">
      STARSHIPS
    </div>
    <div class="card">
      <div class="card-body" *ngIf="starshipsResults">
<!--        <div *ngFor="let item of starshipsResults">-->
          <p>Name: {{ starshipsResults[randomItem]?.name }}</p>
          <p>Model: {{ starshipsResults[randomItem]?.model }}</p>
          <p>Manufacturer: {{ starshipsResults[randomItem]?.manufacturer }}</p>
          <p>Cost in credits: {{ starshipsResults[randomItem]?.cost_in_credits }}</p>
          <p>Length: {{ starshipsResults[randomItem]?.length }}</p>
          <p>Max atmosphering speed: {{ starshipsResults[randomItem]?.max_atmosphering_speed }}</p>
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
